.menu {
  padding: 140px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.menu-title {
  font-size: 50px;
  font-weight: 400;
  color: var(--menu-primary);
  padding-bottom: 26px;
}

.menu-description {
  font-size: 16px;
  color: var(--menu-text);
  padding-bottom: 50px;
}

.menu-buttons {
  display: flex;
  gap: 10px;
  padding-bottom: 50px;
}

.menu-button {
  min-width: 132px;
  height: 48px;
  border-radius: 6px;
  padding: 16px 40px;
  font-size: 16px;
  background-color: var(--menu-button-bg);
  border: 1px solid var(--menu-button-border);
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--text-color);
}

.menu-button:hover {
  background-color: var(--menu-primary);
  color: #ffffff;
}

.menu-button-active {
  background-color: var(--menu-primary);
  color: #ffffff;
}

.menu-dishes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}
