.hero {
  background: linear-gradient(to bottom right, #f8fafc, #ffffff, #f1f5f9);
}

.hero-container {
  margin: 0 auto;
  padding: 100px 120px 140px 120px;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: 400;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #111827;
}

.hero-title .highlight {
  color: #14b8a6;
}

.hero-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #6b7280;
  max-width: 28rem;
}

.cta-button {
  background-color: #14b8a6;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  width: fit-content;
  padding: 20px 35px;
}

.cta-button:hover {
  background-color: #0d9488;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.rating-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  gap: 0.5rem;
}

.stars {
  display: flex;
  gap: 0.25rem;
}

.star {
  width: 1.125rem;
  height: 1.125rem;
  color: #22c55e;
}

.rating-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.rating-title {
  font-weight: 600;
  font-size: 0.875rem;
  color: #111827;
}

.rating-value {
  font-size: 0.875rem;
  color: #14b8a6;

  margin-right: 5px;
}

.rating-description {
  font-size: 0.875rem;
  display: flex;
}

.hero-image-wrapper {
  display: flex;
  justify-content: center;
  min-width: 50%;
}

p {
  margin: 0;
}
.image-container {
  position: relative;
  width: 100%;
}
